services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 10s
      timeout: 5s
      retries: 5

  producer:
    build:
      context: ./backend/producer
      dockerfile: Dockerfile
    container_name: producer
    ports:
      - "3000:3000"
    environment:
      PORT: 3000
      NODE_ENV: development
      RABBITMQ_URL: amqp://guest:guest@rabbitmq:5672
      RABBITMQ_EXCHANGE: complaints.exchange
      RABBITMQ_ROUTING_KEY: complaint.received
    depends_on:
      rabbitmq:
        condition: service_healthy
    restart: unless-stopped
